<%
  badge_style = ""
  badge_style << "background-color: #{game.top_color};" if game.top_color?
  badge_style << "background-image: url(#{image_path(game.background)});" if game.background?

  title_style = ""
  title_style << "color: #{game.text_color}" if game.text_color?

  footer_style = ""
  footer_style << "background-color: #{game.bottom_color}" if game.bottom_color?
%>

<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
  <div class="game-badge" style="<%= badge_style %>">

    <% if game.icon? %>
      <%= image_tag(game.icon, class: "game-icon") %>
    <% end %>

    <% if game.name? %>
      <p class="title" style="<%= title_style %>"><%= game.name %></p>
    <% end %>

    <div class="badge-footer" style="<%= footer_style %>">
      <% game.people.each do |person| %>
        <%= image_tag(data.people[person.id].avatar, class: "icon") %>
      <% end %>
      <% game.platforms.each do |platform| %>
        <% platform_image = image_tag(data.platforms[platform.id].icon, class: "icon") %>
        <% if platform.url? %>
          <a href="<%= platform.url %>"><%= platform_image %></a>
        <% else %>
          <%= platform_image %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
