<%
top_color ||= nil
bottom_color ||= nil
text_color ||= nil
authors ||= []
platforms ||= []
background ||= nil
icon ||= nil
url ||= nil
title ||= nil
%>


<div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-3'>

  <div class='game-badge'
    style = '
    <% if top_color %>
      background-color: <%= top_color %>;
    <% end %>
    <% if background %>
      background-image: url(<%=image_path(background) %>);
    <% end %>
    '>
    <% if title %>
    <a class='badge-link' href='<%=Games.path_for(title)%>.html'><span></span></a>
    <% end %>

    <% if icon %>
      <%= image_tag icon, :class => "game-icon" %>
    <% end %>

    <% if title %>
      <p class='title'
      <% if text_color %>
        style='color: <%= text_color %>;'
      <% end %>
      ><%= title %></p>
    <% end %>

    <div class='badge-footer'
    style = '
    <% if bottom_color %>
      background-color: <%= bottom_color %>;
    <% end %>
    '>
      <% authors.reject{|x| !People.icon_for?(x)}.each do |author, _| %><%= image_tag People.avatar_url(author), class: 'icon' %><% end %>
      <% platforms.each do |platform| %>
        <% type = platform['type'] %>
        <% name = platform['name'] %>
        <% url = platform['url'] %>
        <%= image_tag "#{type}.png", class: 'icon' %>
      <% end %>
    </div>
  </div>

</div>