---
title: Rockethands.com - <%= game[:title] %>
---

<% game = Games.find(game[:title]) %>
<%= partial :game_header, locals: game %>
<div class='content'>
  <%= partial game[:path], locals: game rescue nil%>
</div>
<%= partial :game_platforms, locals: game %>
<%= partial :game_credits, locals: game %>
